@import "../../../styles/foundations/mixins.scss";

.mainHero {
  position: relative;
  width: 100%;
  height: 600px;

  .mainHero__content1 {
    height: 100%;
    width: 100%;

    .mainHero__content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: rgb(31, 20, 20);
      opacity: 1;
      padding-top: 5%;
      gap: 10px;

      .mainHero__title {
        font-size: 50px;
        font-weight: 600;
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: "Poppins", sans-serif;
        opacity: 1;

        @include mediumTablet {
          font-size: 40px;
        }

        @include smallDesktop {
          font-size: 35px;
        }

        @include semiLargeDesktop {
          font-size: 30px;
        }

        @include largeTablet {
          font-size: 25px;
        }

        @include extraLargeTablet {
          font-size: 20px;
        }
      }

      .mainHero__subtitle {
        max-width: 60%;
        font-size: 20px;
        font-weight: 500;
        color: white;
        text-align: center;
        letter-spacing: 1.5px;
        font-family: "Poppins", sans-serif;
        opacity: 1;

        @include mediumTablet {
          font-size: 15px;
        }

        @include smallDesktop {
          font-size: 15px;
        }

        @include semiLargeDesktop {
          font-size: 15px;
        }

        @include largeTablet {
          font-size: 15px;
        }

        @include extraLargeTablet {
          font-size: 15px;
        }
      }
    }
  }

  .destinationSearch {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    width: 70%;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    // background: rgba(255, 255, 255, 0.171);
    background: #39623f5b;
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    z-index: 12;

    @include extraLargeTablet {
      width: 90%;
      bottom: 5%;
    }

    .dSearch__form {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;

      @include mediumTablet {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }

      .formFroup {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        z-index: 9;

        span {
          font-size: 18px;
          color: white;
          opacity: 1 !important;
        }

        .input__group {
          display: flex;
          gap: 5px;
          height: 40px;
          padding: 10px;

          border: 1px solid white;
          border-radius: 5px;

          @include mediumTablet {
            height: 30px;
            padding: 5px;
          }

          svg {
            font-size: 20px;
            color: white;

            @include mediumTablet {
              font-size: 15px;
            }
          }

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 16px;
            font-weight: 600;
            background-color: transparent;
            color: white;
            &::placeholder {
              color: lightgray;
            }
          }
        }

        button {
          margin-top: 25px;
          width: 100%;
          height: 40px;
          border: none;
          outline: none;
          border-radius: 5px;
          background-color: #f15454;
          color: white;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          opacity: 0.8;
          transition: all 0.3s ease;

          &:hover {
            background-color: #f15454;
            opacity: 1;
            transition: all 0.3s ease;
          }

          @include mediumTablet {
            margin-top: 5px;
          }
        }
      }
    }
  }
}
