@import "../../../styles/foundations/mixins.scss";

.testimonials {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  transition: all 0.3s ease-in-out;

  @include mediumTablet {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    transition: all 0.3s ease-in-out;
  }

  .testimonials__imgs {
    padding: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    .testimonials__img1 {
      width: 200px;
      max-width: 450px;
      height: 100px;
      transform: rotate(10deg);

      @include miniPortraitTablet {
        width: 150px;
        max-width: 350px;
        height: 80px;
      }
    }

    .testimonials__img2 {
      width: 350px;
      max-width: 500px;
      height: 200px;
      transform: rotate(-10deg);
      z-index: 1;

      @include miniPortraitTablet {
        width: 250px;
        max-width: 350px;
        height: 150px;
      }
    }

    .testimonials__img3 {
      width: 200px;
      max-width: 350px;
      height: 100px;
      transform: rotate(10deg);

      @include miniPortraitTablet {
        width: 150px;
        max-width: 250px;
        height: 80px;
      }
    }
  }

  .testimonials__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;

    .testimonials__container {
      width: 100%;
      max-width: 500px;
      display: flex;

      padding-bottom: 40px;

      @include smallDesktop {
        max-width: 300px;
      }
    }
  }
}
