@import "../../styles/foundations/mixins.scss";

.sectionHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 20px;
    font-weight: 600;
    color: #ec680a;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Dancing Script", cursive;
    text-align: center;
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: "Allan", serif;
    text-align: center;
  }
}
